<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barınak Doluluk Oranı</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stiller.css">
  </head>
  <body>
	<nav>
		<a href="index">Ana Sayfa</a>
		<a href="arama">Arama</a>
		<a href="ekleme">Veri Ekle</a>
		<a href="guncelleme">Güncelleme</a>
		<a href="silme">Silme</a>
	  </nav>
    <div class="container">
      <h1>Barınak Doluluk Oranı</h1>

      <form method="POST" action="/doluluk">
        <div class="mb-3">
            <label for="barinakid" class="form-label">Barınak Seçin</label>
            <select name="barinakid" id="barinakid" class="form-control" required>
                {% for barinak in barinaklar %}
                    <option value="{{ barinak[0] }}">{{ barinak[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Göster</button>
    </form>
    
    {% if doluluk_orani is not none %}
        <p>Seçilen barınağın doluluk oranı: {{ doluluk_orani }}%</p>
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
    
  </body>
</html>
